.DS_Store
planning/
.env
__pycache__
.ipynb_checkpoints
.cursor/
.vscode/
.claude/
.netlify/
CLAUDE.md
.smart-env/
.obsidian/
index.html

week1/challenges_by_difficulty.json
week1/Day2_1_Python_문법1_정답.ipynb
.python-version
main.py
pyproject.toml
requirements.txt
uv.lock
week1/grammar_plan.md
# week1/Day2_0_함수_디자인_패턴_Functions.ipynb
week1/Day2_1_Python_문법1.ipynb
# week1/Day2_2_이터레이터와_제너레이터_정답.ipynb
# week1/Day2_2_이터레이터와_제너레이터.ipynb
week1/Day2_3_파일_IO와_직렬화_정답.ipynb
week1/Day2_3_파일_IO와_직렬화.ipynb
week1/Day2_4_모듈화와_패키지_구조_Modules.ipynb
# week1/Day2_0_함수_디자인_패턴_Functions_정답.ipynb
week1/Day2_4_모듈화와_패키지_구조_Modules_정답.ipynb
week1/Day3_0_객체_지향_프로그래밍_OOP_기초_정답.ipynb
week1/Day3_0_객체_지향_프로그래밍_OOP_기초.ipynb
week1/Day3_1_예외_처리와_디버깅_Exceptions.ipynb
week1/Day3_2_분석가를_위한_표준_라이브러리_II.ipynb
week1/Day3_3_종합_실습_로그_분석_자동화_봇.ipynb
week1/server.log
week1/Day3_1_예외_처리와_디버깅_Exceptions_정답.ipynb
week1/Day3_2_분석가를_위한_표준_라이브러리_II_정답.ipynb
week1/Day3_3_종합_실습_로그_분석_자동화_봇_정답.ipynb
# week1/Day1_0_초고속_분석_환경_구축_uv_정답.ipynb
# week1/Day1_1_데이터_구조_심화_Collection_정답.ipynb
# week1/Day1_2_제어_흐름의_진화_Advanced_Control_정답.ipynb
# week1/Day1_3_문자열과_정밀한_수치_연산_정답.ipynb
week1/hello.py
week1/Day2_1_이터레이터와_제너레이터_정답.ipynb
# week1/Day2_1_이터레이터와_제너레이터.ipynb
week1/Day2_2_파일_IO와_직렬화_정답.ipynb
# week1/Day2_2_파일_IO와_직렬화.ipynb
week1/Day2_3_모듈화와_패키지_구조_Modules_정답.ipynb
week1/Day2_3_모듈화와_패키지_구조_Modules.ipynb
week1/mymath.py
week1/calculator.py
